a,
a:focus,
a:hover {
  color: #fff;
}
html, 
body {
      background: url("../overlay1.png"), url("../bg.png");
      background-repeat: repeat, no-repeat;
      background-attachment: fixed, fixed;
      background-position: center;
      background-size: 3px 3px, cover;
      margin: 10px;
      color: #fff;
      text-align: center;
}

  #home {padding: 20px 5px 600px 5px; color: #fff; }
  #about {padding: 10px 5px 10px 5px; color: #fff; background-color: #f80374; }
  #schedule {padding: 10px 5px 10px 5px; color: #fff; background-color: #180271; }
  #tickets {padding: 10px 5px 10px 5px; color: #fff; background-color: #f80374; }
  #contact {padding: 10px 5px 10px 5px; color: #fff; background-color: #180271; }

#img_cont {
  display: table;
  width: 90%;
  margin: 20px auto;
}

#img_cont a {
  display: table-cell;
  text-align: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

#img_cont img {
  width: 100%;
  max-width: 150px;
  display: inline;
  margin: 0 auto;
  height: auto;
}
