a,
a:focus,
a:hover {
  color: #fff;
}
html, 
body {
      background: 
        url("../overlay.png") center repeat,
        url("../bg.png") no-repeat top center fixed;
      background-size: cover;
      margin: 10px;
      background-size: 100% 110%;
      color: #fff;
      text-align: center;
}

  #home {padding: 20px 5px 600px 5px; color: #fff; }
  #about {padding: 10px 5px 10px 5px; color: #fff; background-color: #f80374; }
  #schedule {padding: 10px 5px 10px 5px; color: #fff; background-color: #180271; }
  #tickets {padding: 10px 5px 10px 5px; color: #fff; background-color: #f80374; }
  #contact {padding: 10px 5px 10px 5px; color: #fff; background-color: #180271; }

